packages/
Betcoins.Web/bin/
Betcoins.Web/obj/
Betcoins.UnitTests/bin/
Betcoins.UnitTests/obj/
Betcoins.BusinessLogic/bin/
Betcoins.BusinessLogic/obj/
Betcoins.Model/bin/
Betcoins.Model/obj/
*.suo
/.vs/*
