packages/
Betcoins.Web/bin/
Betcoins.Web/obj/
Betcoins.UnitTests/bin/
Betcoins.UnitTests/obj/
Betcoins.BusinessLogic/bin/
Betcoins.BusinessLogic/obj/
Betcoins.Model/bin/
Betcoins.Model/obj/
Betcoins.DomainClasses/bin/
Betcoins.DomainClasses/obj/
Betcoins.Context/bin/
Betcoins.Context/obj/
Betcoins.Repositories/bin/
Betcoins.Repositories/obj/
*.suo
/.vs/*
