/*///////////////////////////////////// MAIN CONTENT /////////////////////////////////////*/

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.body-content {
    padding: 20px;
}

.footer-content {
    padding: 20px;
}

/*//////////////////////////////////////// LOGIN /////////////////////////////////////////*/

.auth0-lock.auth0-lock .auth0-lock-header {
    display: none;
}

/*////////////////////////////////// TOP NAVIGATION BAR //////////////////////////////////*/

.topnav {
    overflow: hidden;
    background-color: #adadad;
    background-image: url(Images/betcoins-topbar-bg.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
}

.topnav a {
    float: left;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #009fe3;
}

.topnav a.active {
    background-color: #e6c41d;
    color: #000;
}