<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <hgroup>
        <h1>Login.</h1>
    </hgroup>
    <div ng-controller="sharedLoginController">
        <button fb-login type="button">Facebook Login</button>
    </div>
</body>
</html>
