<div ng-controller="homeInitController">
    <div class="header-content">
        <div class="topnav">
            <a class="active" href="#!/">Home</a>
            <a href="#!/Profile">Profile</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
    </div>
    <div class="body-content">
        <div ng-view></div>
    </div>
    <div class="footer-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Betcoins</p>
        </footer>
    </div>
</div>
